

<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BCP simple CRUD</a>
  </div>
</nav>
<div class="container justify-content-center">
  <div class="row">
    <div class="col-md-8 mt-4">
      <ul class="list-group">
        <li *ngFor="let agency of agencyArray" 
          (click)="openForEdit(agency)"
          [class.active]="agency == selectedAgency"
        class="list-group-item list-group-item-action">
        <div class="col-md-3">
          <img src="../assets/bcp.png" alt="" width="200px">
        </div>
        <div class="col-md-7 text-center">
          <i class="bi bi-1-circle">{{ agency.id  }}</i> {{ agency.agencia}} - {{agency.distrito }} - {{agency.direccion }}
        </div>

          
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Insert A new Agency
            <div class="form-group">
              <input type="text" [(ngModel)]="selectedAgency.agencia" placeholder="Insert a Name" class="form-control">
              <input type="text" [(ngModel)]="selectedAgency.distrito" placeholder="Insert a Adrresses" class="form-control">

            </div>
            <button (click)="addOrEdit()" class="btn btn-primary">
              Submit
            </button>
            <button *ngIf="selectedAgency.id !==0" (click)="delete()" class="btn btn-danger">
              Delete
            </button>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>